.dark {
    background-color: black;
    color: white;
}

/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: #2c2b2b;
    background-size: cover;
    background-attachment: fixed;
    color: #333;
    border-radius: 80px;
    height: 100vh;
    background-position-x: right;
    background-position: center;
    backface-visibility: hidden;

}
.contacts{
    background: cornsilk;
    padding: 20px;
}
.contacts li {
    background: #00bcd4;
    padding: 15px;
    border-radius: 10px;
}
.contacts li:hover {
    background: #00ffff;
    color: black;
    font-weight: bold;
}

/* NAVIGATION */
nav {
    padding: 15px;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(238, 42, 124, 0.8);
    box-shadow: 10px 10px 20px #111, -10px -10px 20px #ddd;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.paragraph {
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}



.hero {
    background: olive;
    color: antiquewhite;
    padding: 50px;
    text-align: center;
}

.content {
    background: whitesmoke;
    margin: 25px;
    padding: 25px;
    border-radius: 6px;
}


nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #facc15;
}

h2 {
    color: orange;
    margin-bottom: 15px;
}

@media screen {}

/* HEADER SECTION */
header {
    background: linear-gradient(135deg, #5c86d3, #4e6a9a);
    color: #fff;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 4px 6px rgba(191, 243, 5, 0.2);
    border-radius: 80px;
}


header img {
    padding: 10px;
    width: 150px;
    border-radius: 15px;
    margin-top: 1px;
    display: flex;

}

.image {
    width: 30%;
    height: auto;
    border-radius: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

.mission {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.mission p {
    font-size: 1.2rem;
    color: white;
    margin-left: 20px;
}

.mission ul {
    list-style: square;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    align-items: center;
    color: white;
}

.blog h2 {
    color: orange;
}

/* MAIN CONTENT */
main {
    padding: 40px 20px;
    max-width: 1000px;
    margin: auto;
    color: black;
}

section {
    margin-bottom: 40px;
}

section h2 {
    color: orange;
    margin-bottom: 15px;
}

/* CARDS */
.card {
    background: white;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* BLOG & SERVICES GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #00bcd4;
    color: white;
    border-radius: 40px;
}

.form-container {
    background: rgba(19, 80, 82, 0.1);
    margin-bottom: 10px;
    margin-left: 300px;
    margin-top: 80px;
    padding: 40px;
    border-radius: 15px;
    width: 380px;
    height: 640px;
    text-align: center;
    box-shadow: 0 0 15px rgba(13, 241, 13, 0.3)
}
p{
    color: white;
}
h1{
    color: green;
}

h2 {
    color: orange;
    margin-bottom: 20px;
}
.genje {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    border: #eef113;
    box-shadow: rgb(17, 19, 18);
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: le 0px linear-gradient(transparent, transparent, #0005);
}

/*password section*/

input {
    font-family: monospace;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    padding-right: 4rem;
    letter-spacing: 0.1ch;
    border-radius: 6px;
    color: var(--color-alpha);
    border-color: var(--color-alpha);
    border-style: solid;
    background: var(--input-bg);
    outline: none;
    transition: border-color 0.2s, color 0.2s;

}


.input-box {
    position: relative;
    margin: 20px 0;
}

.input-box input {
    width: 280px;
    padding: 15px 28px;
    background: none;
    border: 1px solid black;
    border-radius: 8px;
    outline: none;
    color: #fff;
    font-size: 18px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    transition: 0.4s;
}

.input-box label {
    position: absolute;
    top: 15px;
    left: 15px;
    color: black;
    font-size: 14px;
    pointer-events: none;
    transition: 3s;
}

.input-box input:focus+label,
.input-box input:valid+label {
    top: -9px;
    background-color: black;
    font-size: 13px;
    padding: 2px 7px;
    color: white;
    border-radius: 12px;
}

.input-box input:focus {
    border-color: #00ffff;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.input-box span {
    position: absolute;
    top: 50%;
    left: 15px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    pointer-events: none;
    transition: translateY(-50%);
}

.input-box input:focus+span,
.input-box input:not(:placeholder-shown)+span {
    top: 5px;
    font-size: 10px;
    color: #00ffff;
}

.submit-btn {
    background: linear-gradient(90deg, #00ffff, #00ff80);
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 10px;
}

.submit-btn:hover {
    background: linear-gradient(90deg, #00ff80, #00ffff);
    box-shadow: 0 5px 15px #00ffff80;
}

.submit-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background: linear-gradient(150deg, #ff006e, #8400ff, #00ff85, #ffd500, #ff006e);
    background-size: 500%;
    z-index: -1;
    filter: blur(40px);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.submit-btn:hover::before {
    opacity: 1;
}

.contacts {
    list-style: none;
    padding: 0px;
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* 2 columns if screen is wide*/
    gap: 15px 50px;
    /*row and column gap */
}

.contacts li {
    display: flex;
    align-items: center;
    gap: 12px;
    /*space between icon and text*/

}

/*Colored icons*/
.contacts i.phone {
    color: #0a74da;
}

.contacts i.instagram {
    color: #E1306C;
}

.contacts i.tiktok {
    color: #010101;
}

.contacts i.whatsapp {
    color: #25D366;
}

.contacts i.email {
    color: #FF4500;
}

.contacts i.linkedin {
    color: #0077B5;
}

.contacts i.facebook {
    color: #1877F2;
}

.contacts i.github {
    color: #000000;
}

.contacts i.pinterest {
    color: #E60023;
}

.contacts i.youtube {
    color: #FF0000;
}

.contacts i.twitter {
    color: #1DA1F2;
}

/*Links*/
.contacts a {
    text-decoration: none;
    color: whitesmoke
}

.contacts a:hover {
    color: #ff4500;
}